@model StudentMgmtApp.Models.StudentViewModel
@{
    ViewBag.Title = "Student Details";
}
<h2>Student Details</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.StudentId)</dt>
        <dd>@Model.StudentId</dd>
        <dt>@Html.DisplayNameFor(m => m.FirstName)</dt>
        <dd>@Model.FirstName</dd>
        <dt>@Html.DisplayNameFor(m => m.LastName)</dt>
        <dd>@Model.LastName</dd>
        <dt>@Html.DisplayNameFor(m => m.Email)</dt>
        <dd>@Model.Email</dd>
        <dt>@Html.DisplayName("Department")</dt>
        <dd>@Model.DepartmentName</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>